<?xml version="1.0" encoding="utf-8" ?>
<dashBoard>
  <section alias="DataTypeConverter">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="DataType Converter">
      <control>/App_Plugins/Our.Umbraco.DataTypeConverter/Dashboard.ascx</control>
    </tab>
  </section>
</dashBoard>